.online_booking_form  {
	position: relative;
	width: 100%;
	min-height: 270px;
	background-color: #eee;
	border-radius: 4px;
	-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	padding: 15px 0px;
}
.online_booking_form  input {
	width: 100%;
	outline: none;
	text-align: center;
	font-size: 12px;
	height: 31px;
	border: 2px solid #99cc66;
	margin-bottom: 10px;
	background-color: #fff;
	color: #000;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}
.online_booking_form select {
	width: 50%;
	outline: none;
	text-align: center;
	font-size: 12px;
	height: 31px;
	border: 2px solid #99cc66;
	margin-bottom: 10px;
	background-color: #fff;
	color: #000;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.online_booking_form  .search_auto_online_booking {
	width: 100%;
	margin-top: 15px;
}
.online_booking_form  .button {
	width: 100%;
	outline: none;
	text-align: center;
	height: 31px;
	border: none;
	background-color: #99cc66;
	border: 2px solid #99cc66;
	color: #fff;
	margin-top: 15px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}
.online_booking_form  .button:hover {
	background-color: #fff;
	border: 2px solid #99cc66;
	color: #99cc66;
}