.top_line_header {
	position: relative;
	background-color: #fff;
	width: 100%;
	height: 75px;
}

.top_line_header .slogon {
	float: left;
	margin-top: 10px;
}

.top_line_header .slogon img {
	max-width: 32px;
	max-height: 18px;
	margin-top: -3px;
}

.top_line_header .slogon select {
	max-width: 150px;
	height: 28px;
	font-family: "Geometria";
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid #99cc66;
	outline: none;
}

.top_line_header .slogon span {
	display: block;
	font-family: "Geometria-Italic";
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #99cc66;
	margin-top: 5px;
}

.top_line_header .header_phone {
	float: right;
	text-align: right;
	margin-top: 5px;
}

.top_line_header .header_phone a {

}

.top_line_header .header_phone a img {
	max-width: 34px;
	max-height: 20px;
}

.top_line_header .header_phone p {
	text-align: right;
	font-family: "Geometria-Italic";
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #99cc66;
	margin: 0;
	margin-top: -3px;
	margin-bottom: -10px;
}

.top_line_header .header_phone span {
	text-align: right;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #666;
	margin: 0;
}